html, body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
}

@media (max-width: 765px) {
	.container {
		width: 90%;
	}
}

@media (min-width: 764px) {
	.container {
		width: 70%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 50%;
	}
}

.container {
	display: block;
	margin: 0 auto;
}

.input-group {
	width: 75%;
	margin: 0 auto;
	text-align: left;
}

.input-group input, .input-group textarea {
	min-width: 100%;
	max-width: 100%;
	font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
}

.input-group-inline {
	width: 75%;
	display: block;
	text-align: center;
	margin: 0.5rem auto;
}

.input-group-inline input[type=radio] {
	display: inline-block;
}

.input-group-inline label {
	display: inline-block;
	margin: 0 0.5rem;
}

textarea {
	min-height: 200px;
}

input, textarea {
	display: block;
}